<div class="container text-center mx-auto">
  <h3>Please select the songs you'd like in your library:</h3><br>
  <form action="/users/edit/<%= @user.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
      <% Song.all.each do |song| %>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="song_id" name="song_ids[]"
          value="<%= song.id %>" <%='checked' if @user.songs.include?(song) %> >
          <label class="form-check-label" for="song_id"><%=song.name%></label>
        </div>
      <% end %>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br>
  <div class="text-center">
    <p><a href="/songs/new">Or, add a new song</a></p>
  </div>
</div>
