<section class="jumbotron text-center">
<h1>All Songs</h1>
<div class="container">
  <% Song.all.each do |song| %>
    <h2><a href="/songs/<%= song.id %>"><%= song.name %></a></h1>
      <p>Artist: <%= song.artist %></p>
      <p>Difficulty: <%= song.difficulty %>/10</p>
  <% end %>
</div>
</section>
