<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Virtual Virtuoso</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Virtual Virtuoso</a>
        </div>
        <ul class="nav navbar-nav navbar-left">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/songs">Browse song library</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if signed_in? %>
            <li><a href="/users/<%= current_user.id %>">My song library</a></li>
            <li><a href="/users/edit">Edit my song library</a></li>
            <li><a href="/signout">Sign out</a></li>
          <% else %>
            <li><a href="/signin">Sign in</a></li>
          <% end %>
        </ul>
  </div>
    </nav>

    <%= yield %>

  </body>
</html>
