
<div class="container">
  <form action="/signin" method="post">
    <div class="container text-center">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1><br>
      <label>Username</label>
      <input type="text" name="username" placeholder="Username" required autofocus><br>
      <label>Password</label>
      <input type="password" name="password" placeholder="Password" required><br><br>
    </div>
    <div class="container text-center">
      <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
    </div>
  </form>
</div>
